<!DOCTYPE html>

<HTML>
    <HEAD>
        <title>404</title>
        <link rel="icon" href="./img/cloud.png">
        <link rel="stylesheet" href="css/styles.css">
    </HEAD>
    <BODY>
        <div class="main-content">
            {{>header}}

            {{errorMessage}}
        </div>

        {{>footer}}
    </BODY>
</HTML>
