<!DOCTYPE html>

<HTML>
    <HEAD>
        <title>About</title>
        <link rel="icon" href="./img/cloud.png">
        <link rel="stylesheet" href="css/styles.css">
    </HEAD>
    <BODY>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Uriah Ossin, it uses data from mapbox.com and weatherstack.com.</p>

            <IMG class="portrait" src="img/Portrait.jpg">
        </div>

        {{>footer}}
    </BODY>
</HTML>
